
/* Plain BGs */
.Plain-njd-bg{
  text-shadow: 2px 2px 2px black;
  background:   #E03A3E;
}
.Plain-nyi-bg{
  text-shadow: 2px 2px 2px black;
  background: #00529B;

}
.Plain-nyr-bg{
  text-shadow: 2px 2px 2px black;
  background: #0161AB;
}
.Plain-phi-bg{
  text-shadow: 2px 2px 2px black;
  background: #F47940;
}
.Plain-pit-bg{
  text-shadow: 2px 2px 2px black;
  background: #D1BD80;
}
.Plain-bos-bg{
  text-shadow: 2px 2px 2px black;
  background: #FFC422;
}
.Plain-buf-bg{
  text-shadow: 2px 2px 2px black;
  background: #002E62;
}
.Plain-mtl-bg{
  text-shadow: 2px 2px 2px black;
  background: #BF2F38;
}
.Plain-ott-bg{
  /*background-color: #E4173E;*/
  text-shadow: 2px 2px 2px black;
  background: #E4173E;
}
.Plain-tor-bg{
  text-shadow: 2px 2px 2px black;
  background: #003777;
}
.Plain-car-bg{
  text-shadow: 2px 2px 2px black;
  background: #E03A3E;
}
.Plain-fla-bg{
  text-shadow: 2px 2px 2px black;
  background: #C8213F;
}
.Plain-tbl-bg{
  text-shadow: 2px 2px 2px black;
  background: #013E7D;
}
.Plain-wsh-bg{
  text-shadow: 2px 2px 2px black;
  background: #CF132B;
}
.Plain-chi-bg{
  text-shadow: 2px 2px 2px black;
  background: #E3263A;

}
.Plain-det-bg{
  /*background-color: #B01213;*/
  text-shadow: 2px 2px 2px black;
  background: #EC2024;
}
.Plain-nsh-bg{
  text-shadow: 2px 2px 2px black;
  background: #FDBB2F;

}
.Plain-stl-bg{
  text-shadow: 2px 2px 2px black;
  background: #0546A0;

}
.Plain-cgy-bg{
  text-shadow: 2px 2px 2px black;
  background: #E03A3E;

}
.Plain-col-bg{
  text-shadow: 2px 2px 2px black;
  background: #8B2942;

}
.Plain-edm-bg{
  text-shadow: 2px 2px 2px black;
  background: #003777;

}
.Plain-van-bg{
  text-shadow: 2px 2px 2px black;
  background: #07346F;

}
.Plain-ana-bg{
  text-shadow: 2px 2px 2px black;
  background: #91764B;

}
.Plain-dal-bg{
  text-shadow: 2px 2px 2px black;
  background: #006A4E;

}
.Plain-lak-bg{
  text-shadow: 2px 2px 2px black;
  background: #000000;

}
.Plain-sjs-bg{
  text-shadow: 2px 2px 2px black;
  background: #05535D;

}
.Plain-cbj-bg{
  text-shadow: 2px 2px 2px black;
  background: #00285C;

}
.Plain-min-bg{
  text-shadow: 2px 2px 2px black;
  background: #025736;

}
.Plain-wpg-bg{
  text-shadow: 2px 2px 2px black;
  background: #002E62;

}
.Plain-ari-bg{
  text-shadow: 2px 2px 2px black;
  background: #841F27;

}
